{% extends 'base/base.html' %}
{% load static %}

{% block title %}Asosiy - Bulut Digital{% endblock %}

{% block content %}
    <main>
        <!-- hero business start -->
        <div class="tp-hero-business theme-bg fix pt-20">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="bs-hero-section mr-40">
                     <span class="bs-hero-section__subtitle white-bg mb-15 d-inline-block wow tpfadeUp"><i
                             class="before-border"></i> Boshqalarga o'xshamaydigan agentlik</span>
                            <div class="cd-intro">
                                <h3 class="bs-hero-section__title cd-headline loading-bar mb-25 wow tpfadeUp"> BULUT
                                    DIGITAL AGENCY</h3>
                            </div>
                            <p class="mb-40 wow tpfadeUp" data-wow-delay=".4s">Marketing uchun sarflagan 1 so'm
                                pulingizni 2 so'm qiymatda qaytarish ustuvor vazifamiz</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="bs-hero__img text-lg-end p-relative pr-40">
                            <img src="{% static 'assets/img/hero/hero-1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- hero business end -->

        <!-- tp about area start -->
        <div class="tp-bs-about pt-160 pb-90">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-12 wow tpfadeUp">
                        <div class="tp-bs-imgs p-relative " data-tilt="" data-tilt-perspective="2000">
                            <div class="tp-bs-img text-center text-xl-start ml-100" data-tilt=""
                                 data-tilt-perspective="2000">
                                <img src="{% static 'assets/img/about/tp-bs-img.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12 wow tpfadeUp" data-wow-delay=".4s">
                        <div class="tp-bs-about-info ml-40">
                            <div class="section-title-wraper">
                                <div class="tp-section">
                                    <span class="tp-section__subtitle white-bg mb-15"><i class="before-border"></i> Bulut Digital Agency</span>
                                    <h2 class="tp-section__title mb-30">Biz haqimizda</h2>
                                    <p>2022 – yilning 10 – yanvar kuni Allohning bir ojiz bandasi “O'ZBEK DIGITAL
                                        MARKETING ” bozoriga yangilik olib kiruvchi ajoyib g’oyani amalga oshirish uchun
                                        jamoa to’play boshladi va siz hozir uning jamaoasi,
                                        “BULUT DIGITAL AGENCY” veb saytida mehmon bo’lmoqdsiz!
                                        <br>
                                        <br>
                                        <b>ASSALOMU – ALAYKUM!
                                            XUSH KELIBSIZ!</b>
                                        <br>
                                        <br>
                                        “Bulut” – bir guruh kreativ yoshlardan tashkil topgan va tajribali rahbar bilan
                                        uyg’unlasha olgan o’zbek bozoridagi yangi

                                        RAQAMLI MARKETING AGENTLIGI!</p>
                                </div>
                            </div>
                            <div class="tp-bs-indo-btns d-flex flex-wrap align-items-center">
                                <div class="tp-bs-link-btn mr-30 mb-30">
                                    <a href="{% url 'contact' %}" class="tp-common-btn tp-btn-hover alt-color">Konsultatsiya
                                        olish<span>
                                 <i class="fal fa-long-arrow-right"></i>
                                 <i class="fal fa-long-arrow-right"></i>
                              </span>
                                        <b></b>
                                    </a>
                                </div>
                                <div class="tp-bs-contact-btn d-flex align-items-center mb-30">
                                    <span><i class="fas fa-phone"></i></span>
                                    <b>
                                        <span>Telefon raqam</span> <br>
                                        <a href="tel:+998901218008">+998 90 121 80 08</a>
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tp about area end  -->

        <!-- tp brand start  -->
        <div class="tp-bs-brand pt-60">
            <div class="container">
                <div class="tp-border-bottom pb-60">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="tp-bs-brand mr-60">
                                <h3 class="tp-bs-brand__title wow tpfadeRight"> Bizning Mijozlarimiz</h3>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="tp-bs-brand-slider">
                                <div class="brand-slider-active swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="tp-bs-brand-item swiper-slide wow tpfadeRight" data-wow-delay=".4s">
                                            <img src="{% static 'assets/img/logo/finessa.png' %}" alt="">
                                        </div>
                                        <div class="tp-bs-brand-item swiper-slide wow tpfadeRight">
                                            <img style="margin-top: 5px;"
                                                 src="{% static 'assets/img/logo/td-park.png' %}" alt="">
                                        </div>
                                        <div class="tp-bs-brand-item swiper-slide wow tpfadeRight">
                                            <img style="margin-top: -10px;"
                                                 src="{% static 'assets/img/logo/Akfa_group.png' %}" alt="">
                                        </div>
                                        <div class="tp-bs-brand-item swiper-slide wow tpfadeLeft">
                                            <img src="{% static 'assets/img/logo/medion_logo.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tp brand end  -->

        <!-- tp service are start  -->
        <div class="tp-bs-service pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title-wraper">
                            <div class="tp-section text-center">
                        <span class="tp-section__subtitle white-bg mb-15 wow tpfadeUp" data-wow-delay=".3s"><i
                                class="before-border"></i> Xizmatlar <i
                                class="after-border"></i></span>
                                <h2 class="tp-section__title mb-30 wow tpfadeUp" data-wow-delay=".5s">Bizning
                                    Xizmatlarimiz</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

                {% block services %}{% include 'components/services.html' %}{% endblock %}
            </div>
        </div>
        <!-- tp service are end  -->

        <div class="tp-bs-project pt-180 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title-wraper">
                            <div class="tp-section">
                                <span class="tp-section__subtitle white-bg mb-15 wow tpfadeUp"><i
                                        class="before-border"></i> Portfolio</span>
                                <h2 class="tp-section__title mb-80 wow tpfadeUp" data-wow-delay=".3s">Bizning Oxirgi
                                    Loyihalarimiz.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="tp-project__item mb-65 wow tpfadeUp">
                            <div class="tp-bs-project__img w-img fix mb-35">
                                <a href="/" class="bs-project-popup">
                                    <img src="{% static 'assets/img/my-blog/td-park.png' %}" alt=""></a>
                            </div>
                            <div class="tp-bs-project__details wow tpfadeUp">
                                <span class="mb-10 d-inline-block"> <a> SMM, Dizayn</a></span>
                                <h3 class="tp-bs-project__title"><a href="{% url 'portfolio' %}">TD-PARK O'quv
                                    markazi</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tp-bs-project__item mb-65 wow tpfadeUp">
                            <div class="tp-bs-project__img w-img fix mb-35" data-aos="fade-up">
                                <a href="/" class="bs-project-popup">
                                    <img src="{% static 'assets/img/my-blog/sport-m.png' %}" alt=""></a>
                            </div>
                            <div class="tp-bs-project__details wow tpfadeUp">
                                <span class="mb-10 d-inline-block"><a> Veb Sayt</a></span>
                                <h3 class="tp-bs-project__title"><a href="{% url 'portfolio' %}">MEDION - Sport
                                    Klubi</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="project-more-btn">
                            <a href="{% url 'portfolio' %}" class="tp-common-btn tp-btn-hover alt-color">Barcha
                                loyihalarimiz
                                <span>
                           <i class="fal fa-long-arrow-right"></i>
                           <i class="fal fa-long-arrow-right"></i>
                        </span>
                                <b></b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- cta are  -->
        <div class="tp-bs-cta-area pt-105 pb-120 theme-bg p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bs-cta-section text-center">
                     <span class="bs-cta-section__subtitle mb-5 d-inline-block wow tpfadeUp">
                        Bizga telefon raqamingizni qoldiring va biz siz bilan 30 daqiqa ichida bog'lanamiz</span>
                            <div class="cd-intro">
                                <h3 class="bs-cta-section__title cd-headline loading-bar mb-55 wow tpfadeUp">
                                    <span>Biznesingizni rivojlantirish uchun marketing qadamlarni BEPUL konsultatsiya xizmatimiz orqali qo’lga kiriting.</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="bs-cta-btns text-center">
                        <a href="{% url 'contact' %}" class="tp-btn tp-btn-hover mr-30 wow tpfadeRight">Konsultatsiya
                            olish<span><i
                                    class="fal fa-long-arrow-right"></i>
                        <i class="fal fa-long-arrow-right"></i></span> <b></b> </a>
                        <a href="tel:+998901218008"
                           class="tp-white-btn tp-btn-hover alt-color cronblue-g-color wow tpfadeLeft"><span><i
                                class="fas fa-phone"></i>
                        <i class="fas fa-phone"></i></span> +998 90 121 80 08 <b></b></a>
                    </div>
                </div>
            </div>
            <div class="red-nots">
                <img src="{% static 'assets/img/cta/point-bg.png' %}" alt="">
            </div>
            <div class="thumb-animation d-none d-lg-block">
                <div class="like-thumb">
                    <img src="{% static 'assets/img/cta/like-thumb.jpg' %}" alt="">
                </div>
                <div class="like-thumb-border">

                </div>
            </div>
        </div>
        <!-- cta end -->
    </main>
{% endblock %}