{% load static %}

<div class="row it-sv-counter">
                    <div class="col-lg-4 col-md-6 wow tpfadeUp">
                        <div class="it-service__item mb-30 text-center">
                            <div class="it-servicce__item-img mb-35">
                                <img src="{% static 'assets/img/icons/service-icons-5.png' %}" alt="">
                            </div>
                            <h3 class="it-service__item-title mb-20"><a>Shaxsiy Brend</a></h3>
                            <p class="mb-0">Our typical customer doesn’t want to be
                                distracted by IT Services that don’t add direct
                                value to their customers.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow tpfadeUp">
                        <div class="it-service__item mb-30 text-center">
                            <div class="it-servicce__item-img mb-35">
                                <img src="{% static 'assets/img/icons/service-icons-6.png' %}" alt="">
                            </div>
                            <h3 class="it-service__item-title mb-20"><a href="#">Commercial</a></h3>
                            <p class="mb-0">Our typical customer doesn’t want to be
                                distracted by IT Services that don’t add direct
                                value to their customers.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="2500">
                        <div class="it-service__item mb-30 text-center">
                            <div class="it-servicce__item-img mb-35">
                                <img src="{% static 'assets/img/icons/service-icons-7.png' %}" alt="">
                            </div>
                            <h3 class="it-service__item-title mb-20"><a href="#">SMM</a></h3>
                            <p class="mb-0">Our typical customer doesn’t want to be
                                distracted by IT Services that don’t add direct
                                value to their customers.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="3000">
                        <div class="it-service__item mb-30 text-center">
                            <div class="it-servicce__item-img mb-35">
                                <img src="{% static 'assets/img/icons/service-icons-8.png' %}" alt="">
                            </div>
                            <h3 class="it-service__item-title mb-20"><a href="#">Naming</a></h3>
                            <p class="mb-0">Our typical customer doesn’t want to be
                                distracted by IT Services that don’t add direct
                                value to their customers.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="3000">
                        <div class="it-service__item mb-30 text-center">
                            <div class="it-servicce__item-img mb-35">
                                <img src="{% static 'assets/img/icons/service-icons-9.png' %}" alt="">
                            </div>
                            <h3 class="it-service__item-title mb-20"><a href="#">Logo</a></h3>
                            <p class="mb-0">Our typical customer doesn’t want to be
                                distracted by IT Services that don’t add direct
                                value to their customers.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow tpfadeUp">
                        <div class="it-service__item mb-30 text-center">
                            <div class="it-servicce__item-img mb-35">
                                <img src="{% static 'assets/img/icons/service-icons-4.png' %}" alt="">
                            </div>
                            <h3 class="it-service__item-title mb-20"><a href="#">Web Sayt Yaratish </a></h3>
                            <p class="mb-0">Our typical customer doesn’t want to be
                                distracted by IT Services that don’t add direct
                                value to their customers.</p>
                        </div>
                    </div>
                </div>