{% extends 'base/base.html' %}
{% load static %}

{% block title %}Portfolio - Bulut Digital{% endblock %}

{% block content %}
    <main>
        <!-- breadcrumb area start -->
        <div class="breadcrumb__area theme-bg pt-120 pb-120"
             data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="breadcrumb__content p-relative z-index-1">
                            <div class="breadcrumb__list mb-10">
                                <span><a href="{% url 'index' %}">Asosiy</a></span>
                                <span class="dvdr dvdr-line"></span>
                                <span class="tp-bc-acive-menu">Portfolio</span>
                            </div>
                            <h3 class="breadcrumb__title">Portfolio</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <div class="tp-lasted-blog-grid pt-60 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6">
                        <div class="it-blog tp-lasted-blog mb-30 aos-init aos-animate" data-aos="fade-up"
                             data-aos-duration="1000">
                            <div class="it-blog__thumb w-img">
                                <div class="fix">
                                    <img src="{% static 'assets/img/my-blog/finessa.png' %}" alt="">
                                </div>
                            </div>
                            <div class="it-blog-info white-bg">
                                <h3 class="it-blog__title mb-50"><a href="{% url 'portfolio' %}">Finessa
                                    - Ayollar Sumkasi</a></h3>
                                <div class="tp-seo-full-btn">
                                    <a href="#" class="it-portfolio-item__btn"> Loyiha haqida
                                        <span class="mt-5">
                                 <i class="fal fa-long-arrow-right"></i>
                                 <i class="fal fa-long-arrow-right"></i>
                              </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="it-blog tp-lasted-blog mb-30 aos-init aos-animate" data-aos="fade-up"
                             data-aos-duration="1000">
                            <div class="it-blog__thumb w-img">
                                <div class="fix">
                                    <img src="{% static 'assets/img/my-blog/td-park.png' %}" alt="">
                                </div>
                            </div>
                            <div class="it-blog-info white-bg">
                                <h3 class="it-blog__title mb-50"><a href="{% url 'portfolio' %}">TD-PARK O'quv
                                    Markazi</a></h3>
                                <div class="tp-seo-full-btn">
                                    <a href="#" class="it-portfolio-item__btn"> Loyiha haqida
                                        <span class="mt-5">
                                 <i class="fal fa-long-arrow-right"></i>
                                 <i class="fal fa-long-arrow-right"></i>
                              </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="it-blog tp-lasted-blog mb-30 aos-init aos-animate" data-aos="fade-up"
                             data-aos-duration="1000">
                            <div class="it-blog__thumb w-img">
                                <div class="fix">
                                    <img src="{% static 'assets/img/my-blog/sport.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="it-blog-info white-bg">
                                <h3 class="it-blog__title mb-50"><a href="{% url 'portfolio' %}">MEDION - Sport
                                    Klubi</a></h3>
                                <div class="tp-seo-full-btn">
                                    <a href="#" class="it-portfolio-item__btn"> Loyiha haqida
                                        <span class="mt-5">
                                 <i class="fal fa-long-arrow-right"></i>
                                 <i class="fal fa-long-arrow-right"></i>
                              </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basic-pagination mb-60">
                    <nav>
                        <ul>
                            <li>
                                <a href="/">
                                    <i class="fal fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="current">1</a>
                            </li>
                            <li>
                                 <a href="/">2</a>
                            </li>
                            <li>
                                <a href="/">3</a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="fal fa-angle-double-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </main>
{% endblock %}